[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ossapi = "*"
more-itertools = "*"
tqdm = "*"
pytz = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3"
