[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ossapi = "*"
more-itertools = "==9.1.0"
tqdm = "*"
pytz = "*"
matplotlib = "*"
requests = "*"

[dev-packages]

[scripts]
main = "py main.py"

[requires]
python_version = "3"
